* {
  box-sizing: border-box;
}
.solkisim {
    float: left;
    width: 60%;
}
.solkisim img{
  margin-left: 15px;   
  float: left;
  width: 55%;
}

.sagkisim{
  float: left;
  width: 40%;
  padding-left: 20px;
}

.kart {
  padding: 20px;
  margin-top: 20px;
}
.kart span{
    color: #218DA6;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-right: 20px;
    margin-top: 0px;
}
@media screen and (max-width: 800px) {
  .solkisim, .sagkisim {   
    width: 100%;
    padding: 0;
  }
}