@charset "utf-8";
/* CSS Document */
footer{
	background-color: #687B89;
	width: 100%;
	padding: 5px;
	clear: both;
	margin-top: 14.5%;
}
.haklar{
	color: #fff;
	font-size: 18px;
	text-align: center;
	padding-left: 21%;
}
.hakkimizda{
	width: 20%;
	float: left;
	color: #fff;
	font-size: 16px;
	text-align: center;
	padding-top: 2%;
	padding-left: 5%;
}
.ulasim{
	padding-top: 2%;
	text-align: center;
	color: #333;
	font-size: 20px;
	font-weight: bold;	
}
.ulasim a:link{
	text-decoration: none;
	color: #fff;
}
.ulasim a:visited{
	text-decoration: none;
	color: #fff;	
}
.sosyalmedya{
	text-align: center;
}
.sosyalmedya li{
	list-style: none;
	display: inline-block;
}
.sosyalmedya li a{
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 0 15px;
}
.up {
	clear: right;
	text-align: right;
}
.up a:link{
	text-decoration: none;
	color: #fff;
}
.up a:visited{
	text-decoration: none;
	color: #fff;
}
