@charset "utf-8";
/* CSS Document */
footer{
	background-color: grey;
	width: 100%;
	padding: 0 auto;
	
}
.haklar{
	color: #fff;
	font-size: 18px;
	text-align: center;
	padding-left: 21%;
}
.hakkimizda{
	width: 20%;
	float: left;
	color: #fff;
	font-size: 16px;
	text-align: center;
	padding-left: 5%;
}
.ulasim{
	text-align: center;
	color: #333;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}
.ulasim a:link{
	text-decoration: none;
	color: #fff;
}
.ulasim a:visited{
	text-decoration: none;
	color: #fff;	
}
.sosyalmedya{
	text-align: center;
}
.sosyalmedya li{
	list-style: none;
	display: inline-block;
}
.sosyalmedya li a{
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 0 15px;
}
.up {
	float: right;
	padding-right: 20px;
}
.up a:link{
	text-decoration: none;
	color: #fff;
}
.up a:visited{
	text-decoration: none;
	color: #fff;
}
