@charset "utf-8";
/* CSS Document */
h4{
	text-align: center;
	font-weight: bold;
	padding: 40px;
	color: #333;
	background-color:#C0ABAB;
	border-left: 6px solid red;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
