@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
	background:white;
	width: 100%;
	position: relative;
	padding: 10px 20px 10px 10px;
	text-align: right;
	z-index: 1;
	margin: 0 auto;
}
.header1{
	padding-top: 0px;
}
.menu li{
	list-style: none; 	
	display: inline-block;
}
.menu li a{
	text-decoration: none;
	color: #000;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: block;
	opacity: 1;
	padding: 0px 15px;
	font-size: 16px;
	line-height: 30px;
}
.menu li a:hover{
	background: #218DA6;
}
.logo{
	width: 15%;
	float: left;
	text-transform: uppercase;
	color: #000;
	font-size: 25px;
	text-align: center;
	padding-left: 2%;
}
.nav1{
	height: 5 0px;
	padding: 10px;
	margin: 0px;
	text-align: center;
	background-color: #218DA6;
}
.menu2 li {
	list-style: none;
	display: inline-block;
}
.menu2 li a{
	text-decoration: none;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: block;
	padding: 0 15px;
	font-size: 16px;
	line-height: 30px;
}
.menu2 li a:hover{
	color: #218DA6;
	background-color: white;
}
.menu2 li ol li{
	display: none;	
}
.menu2 li:hover ol li{
	display: block;
	}
.logo a:link{
	text-decoration: none;
	color: #000;
}
.logo a:visited{
	text-decoration: none;
	color:#000;
}