
input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: verdana;
}
input[type=password]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: verdana;
}
input[type=email]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: verdana;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
textarea{
	max-height: 200px;
	min-height: 200px;
	max-width: 100%;
	width: 100%;
	padding: 12px;
    	border: 1px solid #ccc;
    	border-radius: 4px;
    	resize: vertical;
	font-family: verdana;
	font-size: 18px;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #218DA6;
  border: none;
  color: #FFFFFF;
  font-size:15px;
  padding: 5px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 17.6%;
}
.div1 {
  margin-left: 30%;
  margin-top: 0px;
  border-radius: 5px;
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.form1{
    margin: auto;
}